[project]
name = "voice-gateway-voice-typing"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pytest>=9.0.2",
    "requests>=2.32.5",
]
